@-webkit-keyframes ColorGradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@keyframes ColorGradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #18181f;
  color: #fff;
}

a,
a:visited {
  color: #007bff;
  text-decoration: none;
}

a:hover,
a:visited:hover {
  color: #3395ff;
}

#app {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#app.perfect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app .app-name {
  font-size: 4rem;
  font-weight: 700;
  color: #007bff;
  background: linear-gradient(270deg, #007bff, #ff007b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: ColorGradient 10s ease infinite;
  background-size: 400% 400%;
  text-align: center;
}

@media (min-width: 768px) {
  #app .app-name {
    font-size: 6rem;
  }
}

@media (min-width: 992px) {
  #app .app-name {
    font-size: 7rem;
  }
}

@media (min-width: 1200px) {
  #app .app-name {
    font-size: 9rem;
  }
}

#app .app-details {
  text-align: center;
}

#app .app-details .app-link {
  margin: 0 1rem;
}

.page {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.task {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #23232d;
  color: #fff !important;
  text-decoration: none;
}

.task.completed {
  background-color: rgba(0, 255, 127, 0.2);
}

.task .task-created {
  color: gray;
}

.task .task-actions {
  padding-top: 0.5rem;
}

.task .task-actions .task-action {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", "Open Sans", sans-serif;
  display: inline;
}

.task .task-actions .task-action-primary {
  color: #007bff;
}

.task .task-actions .task-action-info {
  color: #9968ed;
}

.task .task-actions .task-action-warning {
  color: #d86e16;
}

.task .task-actions .task-action-danger {
  color: #ff351c;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.7rem 1.7rem;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  background-color: #007bff;
  color: #fff !important;
  text-align: center;
}

.button:hover {
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0 0.05em rgba(255, 255, 255, 0.12);
}

.button:active {
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0 0.05em rgba(255, 255, 255, 0.12);
}

.form {
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #23232d;
}

.form label {
  display: block;
}

.form input {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: #39394a;
  color: #fff;
}

